@link-color: #4682b4;

@orange: #ffe9c3; //#ffd080;
@light-orange: #ffefd3;
@v-light-orange: #fff6e8;

@border-color: #ccc;

@button-color: #eee;
@button-color-hover: #f7f7f7;
@button-color-selected: #ddd;

@debug-border: 1px;

.main-font {
  //font-family: "Open sans", sans-serif; 
}
.header-font {
  //font-family: "Open sans", sans-serif;
  font-weight: bold;
}


html { .main-font; }

body { 
  padding-top: 0px;
  .main-font;
}

div { border: @debug-border solid #f66; }
svg { border: @debug-border solid #66f; }


body { padding-top: 0px; }

.zero-pad-left {padding-left: 0px;}

a         { color: @link-color; text-decoration: none; }
a:hover   { color: #b0c4de; text-decoration: none; }
a:visited { color: @link-color; text-decoration: none; }

.table { margin-bottom: 0px; }

.axis { shape-rendering: crispEdges; }
path { shape-rendering: auto; }
rect { shape-rendering: crispEdges; }

.header1 {
  font-weight: bold;
  font-size: 24px;
  line-height: 1;
}
.header2 {
  font-weight: normal;
  font-size: 18px;
  padding-top: 5px;
  border-bottom: 1px solid @border-color;
}

#main-container {
  padding-top: 10px;
}


/*questionable hack to eliminate blue halo around select elements*/
select:focus, input:focus { 
  outline: 1px solid #ccc !important; 
  box-shadow: none !important;  
}

.btn, .btn:active, .btn:focus, 
.btn:active:focus, .btn:focus:active { 
  box-shadow: none !important; 
}


// ------------------------------------------------------
// 
// navbar mods 
//
// ------------------------------------------------------

.navbar-static-top { border: 0; margin: 0; }

.navbar-inverse .navbar-brand { 
  color: #ddd; 
  font-weight: bold; 
  font-size: 30px;
}
.navbar-inverse .navbar-nav > li > a { color: #ffd040; }

.container-fluid { padding-right: 35px; }


// ------------------------------------------------------
// 
// calendar
//
// ------------------------------------------------------

#calendar-container {
  padding-top: 10px;
  padding-bottom: 15px;
}

#calendar-tabs-container {
display: inline-block;
  padding-bottom: 0px;
  width: auto;
}

#calendar-controls-container {
  padding-left: 0px;
  padding-top: 12px;
}

.month-label {  font-size: 10px; }

.calendar-day { 
  shape-rendering: crispEdges;
  stroke: #fff;
}

.calendar-rect-active {
  cursor: pointer;
}

.calendar-week {
  shape-rendering: crispEdges;
  stroke: none;
}

.calendar-day-background {
  fill: #eee;
  stroke: #eee;
}

.d3-tip-calendar {
  padding: 0px;
  font-size: 10px;
}

.calendar-tip-title {
  font-weight: bold;
}
.calendar-tip-text {}

#week-x-axis path { stroke: #666; }
#week-x-axis text {color: #333; }
#week-y-axis path { stroke: #000; }


// ------------------------------------------------------
// 
// Left panel: activity list, activity info table
//
// ------------------------------------------------------

#activity-list-container { padding-bottom: 15px; }

#activity-list-container th {
  font-size: 10px;
  font-weight: bold;
  border: 0px;
  padding: 0px;
  margin: 2px;
  margin-bottom: 0px;
  text-align: left;
  border-bottom: 0px solid @border-color;
}

#activity-list-container td {
  padding: 2px;
  padding-left: 0px;
  line-height: 1;
  border: 0px;
  //border-right: 1px solid #bbb;
  //border-left: 1px solid #bbb;
  text-align: left;
}

.activity-list-row { 
  cursor: pointer;
  &:hover {
    background-color: @light-orange;
  }
}

.activity-list-row.selected { 
  background-color: @orange; 
}
 
.activity-list-item {
  font-size: 10px; 
}

#activity-info-container td { 
  padding: 0px;
  padding-top: 4px;
  padding-bottom: 4px; 
  line-height: 1; 
  border: 0px;
  border-bottom: 1px solid @border-color;
}

.activity-parameter-name {
  color: #666;
  font-size: 12px;
}
.activity-parameter-value {
  font-size: 14px;
  font-weight: bold;
}
.activity-parameter-unit {
  font-size: 12px;
}
.activity-datetime {
  font-size: 12px;
  padding-right: 5px;
}

#activity-map-container {
  height: 200px;
}

/// ------------------------------------------------------
// 
// Right panel container
//
// ------------------------------------------------------

#right-container { 
  border: none;
  border-left: 1px solid @border-color; 
}

#right-panel-tabs-container { 
  text-align: left; 
  padding-top: 0px; 
  padding-bottom: 0px; 
}

.tab {
  font-size: 18px;
  border-bottom: 1px solid @border-color;
  width: 100px;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 5px;
  padding-bottom: 0px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  &:hover {
    background-color: @v-light-orange;
  }
}

.tab-active {
  font-weight: bold;
  background-color: @orange;
  border-bottom: 1px solid @orange;
  &:hover {
    background-color: @orange;
  }
}

.tab-small {
  font-size: 12px;
  width: auto;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 5px;
  padding-bottom: 0px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  &:hover {
    background-color: @v-light-orange;
  }
}

.tab-small-active {
  font-weight: bold;
  background-color: @orange;
  &:hover {
    background-color: @orange;
  }
}

// ------------------------------------------------------
// 
// Activity history plot
//
// ------------------------------------------------------

.form-control-history {
  display: inline-block;
  width: auto;
  height: auto; 
  padding: 0px;  
  padding-right: 0px;
  font-size: 12px;
  border: 0px;
  border-radius: 0px;
  box-shadow: none;
  background-color: #fff;
  }

#history-select-conv-window { 
  width: 30px; 
  padding-left: 5px;
}

.controls-container { 
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 25px;
}

#history-controls-container {
  .controls-container;
}

.history-tab-container {
  display: inline-block;
}

.label-history { 
  margin: 0px;
  font-size: 12px; 
  padding-left: 15px; 
  padding-right: 0px;
}

#history-x-axis line { stroke: #aaa; opacity: 0.7; }
#history-x-axis path { stroke-width: 0; }

#history-y-axis-left line { stroke: #aaa; opacity: 0.7; }
#history-y-axis-right line { opacity: 0.7; }
#history-y-axis-left path { stroke-width: 0; }
#history-y-axis-right path { stroke-width: 0; }

#conv-path {
  stroke: none;
  stroke-width: 2px;
  fill: #bbb; //#ffc9c0;
  opacity: .5;
}

.history-dot {
  opacity: 1;
}

.history-dot-selected {
  fill: orange;
}


// ------------------------------------------------------
// 
// Mosaic tiles
//
// ------------------------------------------------------

#mosaic-controls-container {
  .controls-container;
}

.tile { 
  padding: 3px;
  margin: 0px;
  border: 0px solid #aaa; }

.tile-map { 
  padding: 0px;
  background-color: #fff;
}
.tile-path {
  stroke-width: 1;
  // stroke: red;
  // fill: salmon;
}
.tile-selected {
  background-color: #ffeccc;
}

.mosaic-rect { fill: #ffeccc; }

// ------------------------------------------------------
// 
// Activity details panel
//
// ------------------------------------------------------

#details-controls-container {
  .controls-container;
}

/*margin of row is -15px, so add this to padding-left*/
.plot-title { 
  padding-left: 0px; 
  padding-right: 0px; 
} 

#alt-plot-container {
  margin-top: -0px;
  }

.param-plot-container { 
  margin-left: 0px; 
  border-top: 1px solid @border-color;
}

#alt-plot, .param-plot, .hist-plot { 
  padding-left: 0px; padding-right: 0px;
}

#alt-plot-y-axis line { stroke: #aaa; opacity: 0.7; }

// this includes both the vertical axis line and the top-most horizontal line
// (length is controlled by tick width)
#alt-plot-y-axis path { visibility: hidden; }

.param-plot #y-axis path { stroke: #666; }

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 10px;
  fill: #333;
}

.axis-label {
  font-family: sans-serif;
  font-size: 10px;
  fill: #000;
}

.bar { 
  shape-rendering: crispEdges; 
  opacity: 0.7;
}

.hist-plot #bin-position-axis path { 
  stroke: #666; 
  stroke-width: 1; 
}

.hist-plot #bin-height-axis path { stroke-width: 0; }
.hist-plot #bin-height-axis text { font-size: 9px; }

.d3-tip {
  line-height: 1;
  padding: 5px;
  background: rgba(255,255,255,.7);
  color: #111;
  border: 1px solid #666;
  border-radius: 0px;
}

.d3-tip-line {
  padding-top: 1px; 
  padding-bottom: 1px;
}

.plot-title-value {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: -5px;
}

.plot-title-units {
  font-size: 10px;
  text-align: center;
}

.param-plot-path {
  clip-path: url(#clip);
}

path.mouse-position-path {
  fill: none;
  stroke: #777;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

path.seg-line-plot-path {
  fill: none;
  stroke: #333;
  stroke-width: 1;
  opacity: 0.3;
}